.hidden-container {
  width: inherit;
  position: fixed;
  background: #0b0b12;
  border-radius: 8px 8px 8px 8px;
}

.header {
  height: 50px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background: lightblue;
  box-sizing: border-box;
  border: 1px solid #006ea5;
  color: #006ea5;
  border-radius: 8px 8px 8px 8px;
}


.header button {
  margin: 0;
  font-size: 13px;
  background: none;
  margin-left: auto;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px 15px 8px 15px;
  border: 1px solid #006ea5;
  background-color: #006ea5;
  color: lightblue;
}

.header h3 {
  margin-right: auto;
}